<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Pick
    </ion-title>
    <ion-button slot="end" (click)="darkModeModal()" class="dark-mode-button" fill="clear">
      <ion-icon class="dark-mode-icon" slot="icon-only" name="bulb-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic Pick</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-group>
      <ion-list-header color="light">Use cases</ion-list-header>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/basic'">
        Basic
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/cascading'">
        Cascading
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/disabling-items'">
        Disabling items
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/find-ports'">
        Find ports
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/inside-modal'">
        Inside Modal
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/initial-value'">
        Initial value
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/infinite-scroll'">
        InfiniteScroll
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/infinite-scroll-is-multiple'">
        InfiniteScroll - isMultiple
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/labels'">
        Labels
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/primitive-types'">
        Primitive types
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/on-search'">
        Search by several item fields
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/on-search'">
        Search items asynchronously
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/virtual-scroll'">
        VirtualScroll
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Forms</ion-list-header>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/form-control'">
        FormControl
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/min-max-selection'">
        Min/max selection
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Grouping</ion-list-header>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/grouping'">
        Grouping items
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/grouping-virtual-scroll'">
        Grouping items with VirtualScroll
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Editing</ion-list-header>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/editing'">
        Adding, editing and deleting items
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/editing-async'">
        Adding, editing and deleting items asynchronously
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/adding-on-search-fail'">
        Adding item when search fails
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/adding-on-search-fail-async'">
        Adding item asynchronously when search fails
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Templates</ion-list-header>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/close-button-template'">
        Close button template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/footer-template'">
        Footer template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/group-template'">
        Group template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/group-end-template'">
        Group end template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/header-template'">
        Header template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/icon-template'">
        Icon template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/item-template'">
        Item template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/item-end-template'">
        Item end template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/item-icon-template'">
        Item icon template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/message-template'">
        Message template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/multiple-values-template'">
        Multiple values template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/values-ellipsis-template'">
        Multiple values with ellipsis template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/placeholder-template'">
        Placeholder template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/search-fail-template'">
        Search fail template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/title-template'">
        Title template
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/value-template'">
        Value template
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Fields</ion-list-header>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/can-clear'">
        canClear
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/close-button-text'">
        closeButtonText
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/is-enabled'">
        isEnabled
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/is-multiple'">
        isMultiple
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/placeholder'">
        placeholder
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Methods</ion-list-header>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/scroll-to-top'">
        scrollToTop()
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Events</ion-list-header>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/on-search'">
        onSearch
      </ion-item>
      <ion-item detail="true" [routerDirection]="'forward'" [routerLink]="'/should-store-item-value'">
        shouldStoreItemValue
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
